html {
  font-size: 75px;
}

body, html {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
  height: 1.86667rem;
  z-index: 11;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 0.18667rem;
  background: linear-gradient(180deg, #dfd1b5, #f6f3f0);
}

.wrap header .ipt {
  display: flex;
}

.wrap header .ipt input {
  width: 100%;
  height: 0.4rem !important;
  margin-top: 0.13333rem;
  position: relative;
  outline: none;
  border: 1px solid transparent;
  border-color: #fff;
  padding-left: 0.66667rem;
  box-sizing: border-box;
}

.wrap header .ipt .icon-fangdajing {
  position: absolute;
  top: 0.22667rem;
  left: 0.53333rem;
}

.wrap header .head {
  width: 100%;
  height: 1.33333rem;
  background: #fff;
  border-radius: 0.13333rem;
  box-shadow: 1px 1px 1px #eee;
  font-size: 0.18667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 0.8rem;
  position: relative;
}

.wrap header .head .head-smart {
  position: absolute;
  top: -0.26667rem;
  left: 50%;
  transform: translateX(-50%);
}

.wrap header .head .head-smart .icon-zhaoxiangji {
  font-size: 0.4rem;
  line-height: 0.53333rem;
  color: #fff;
}

.wrap header .head .head-smart i {
  display: block;
  margin: auto;
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 50%;
  background: #000;
}

.wrap header .head .head-smart p {
  margin-top: 0.13333rem;
}

.wrap header .head .head-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.66667rem;
  margin-bottom: 0.13333rem;
}

.wrap header .head .head-title dl {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f8f8f8;
  height: 0.53333rem;
  width: 40%;
}

.wrap header .head .head-title dl dt i {
  display: block;
  margin: auto;
  font-size: 0.34667rem;
}

.wrap header .head .head-title dl dt .icon-fabuqiugou {
  color: #fca500;
}

.wrap header .head .head-title dl dt .icon-shangpin {
  color: #ff7e0d;
}

.wrap header .head .head-title dl dd {
  margin-left: 0.05333rem;
  text-align: left;
}

.wrap header .head .head-title dl dd .left {
  color: #fca500;
  font-weight: 700;
  font-size: 0.18667rem;
  margin-bottom: 0.05333rem;
}

.wrap header .head .head-title dl dd .right {
  color: #ff7e0d;
  font-size: 0.18667rem;
  font-weight: 700;
  margin-bottom: 0.05333rem;
}

.wrap header .head .head-title dl dd p {
  font-size: 0.16rem;
}

.wrap .min {
  margin-top: 3.06667rem;
  width: 100%;
  flex: 1;
  padding: 0 0.18667rem;
}

.wrap .min h2 {
  font-size: 0.21333rem;
  margin-bottom: 0.26667rem;
  font-weight: 700;
  text-align: center;
}

.wrap .min .box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.53333rem;
}

.wrap .min .box .content {
  width: 100%;
  height: 1000px;
  position: relative;
}

.wrap .min .box .content dl {
  width: 48%;
  margin-bottom: 0.13333rem;
  position: absolute;
}

.wrap .min .box .content dl dt img {
  display: block;
  width: 100%;
  height: auto;
}

.wrap .min .box .content dl dd {
  text-align: left;
}

.wrap .min .box .content dl dd h3 {
  font-size: 0.18667rem;
  font-weight: 700;
  margin-top: 0.13333rem;
}

.wrap .min .box .content dl dd p {
  display: flex;
  font-size: 0.16rem;
  margin-top: 0.13333rem;
}

.wrap .min .box .content dl dd p span {
  margin-left: 0.13333rem;
  display: block;
  font-size: 0.13333rem;
  padding: 0.04rem 0.10667rem;
  background: red;
  color: #fff;
  border-top-right-radius: 0.13333rem;
  border-bottom-left-radius: 0.13333rem;
}

.wrap footer {
  display: flex;
  padding: 0 0.18667rem;
  width: 100%;
  height: 0.53333rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #fff;
}

.wrap footer div {
  text-align: center;
  width: 25%;
  height: 100%;
  line-height: 0.53333rem;
}

.wrap footer div i {
  display: block;
  font-size: 0.26667rem;
}

.wrap footer div:nth-child(1) i {
  color: #ffdd21;
}
