html {
  font-size: 75px;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
}

.wrap header {
  width: 100%;
  height: 0.53333rem;
  padding: 0 0.05333rem;
  margin-top: 0.13333rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.16rem;
}

.wrap header .call {
  margin-left: 0.13333rem;
}

.wrap header .call i {
  font-size: 0.34667rem;
}

.wrap header .ipt {
  flex: 1;
  position: relative;
}

.wrap header .ipt i {
  position: absolute;
  top: 0.12rem;
  left: 0.34667rem;
  font-size: 0.26667rem;
}

.wrap header .ipt input {
  width: 94%;
  height: 0.53333rem;
  outline: none;
  border: 1px solid transparent;
  border-color: #fff;
  border-radius: 0.13333rem;
  background: #f9f9f9;
  box-sizing: border-box;
  padding-left: 0.53333rem;
  margin-left: 0.13333rem;
}

.wrap header .cancel {
  margin-right: 0.13333rem;
}

.wrap .min {
  width: 100%;
  padding: 0 0.13333rem;
  margin-top: 0.26667rem;
}

.wrap .min .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap .min .title h2 {
  font-weight: 700;
  font-size: 0.21333rem;
}

.wrap .min .title img {
  cursor: pointer;
}

.wrap .min .content {
  font-size: 0.16rem;
  margin-top: 0.26667rem;
}

.wrap .min .content ul {
  display: flex;
  flex-wrap: wrap;
}

.wrap .min .content ul li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  margin: 0rem 0.13333rem;
  margin-bottom: 0.08rem;
}
